@import url('https://fonts.googleapis.com/css2?family=Jersey+10&display=swap');

body {
    background-color: black;
    font-family: "Jersey 10", sans-serif;
    overflow: hidden;
    margin: 0;
    user-select: none;
}

#health-bar-background {
    position: absolute;
    top: 1%;
    left: 10px;
    height: 5%;
    background-color: #555;
    border-radius: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
}

#health-bar-value {
    position: absolute;
    top: 1%;
    left: 10px;
    height: 5%;
    border-radius: 10px;
    background: linear-gradient(to right, #ff4d4d, #ff6666);
    box-shadow: 0 0 20px rgba(255, 77, 77, 1);
}

#health-text {
    font-family: 'Jersey 10';
    font-size: 4em;
    color: black;
    position: absolute;
    z-index: 1;
}

#exp-bar-background {
    position: absolute;
    top: 7%;
    left: 10px;
    height: 2%;
    background-color: #555;
    border-radius: 10px;
}

#exp-bar-value {
    position: absolute;
    top: 7%;
    left: 10px;
    height: 2%;
    border-radius: 10px;
    background: linear-gradient(to right, #22aa55, #42c072);
    box-shadow: 0 0 20px #22aa55;
}

#exp-text, #exp-level {
    font-family: 'Jersey 10';
    font-size: 1.5em;
    color: black;
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 9999;
}

#exp-text {
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

#exp-level {
    left: 10px;
}

#upgrade-container {
    position: absolute;
    width: 65%;
    height: 60%;
    left: 50%;
    top: 50%;
    padding: 0;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-around;
    align-items: center;
    opacity: 1;
    animation: fade-in 0.5s ease-in forwards;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#upgrade-header {
    position: absolute;
    top: 1%;
    left: 50%;
    transform: translateX(-50%);
}

#upgrade-header h1 {
    position: relative;
    margin: 0;
    font-size: 130px;
    color: white;
    padding: 30px;
    animation: fade-in 0.5s ease-in forwards;
    letter-spacing: 1px;
}

.upgrade-card {
    font-size: 50px;
    width: 20%;
    height: 100%;
    border-radius: 10px;
    color: white;
    display: flex;
    flex-direction: column; 
    flex-wrap: wrap;
    align-items: center;
    position: relative;
    opacity: 0.6;
    transition: transform 0.3s;
}

.upgrade-card p {
    font-size: 0.4em;
    margin-left: 20px;
    margin-right: 20px;
    align-self: flex-start;
    position: relative;
    height: 120px;
}

.upgrade-card h2 {
    font-size: 0.8em;
    margin-bottom: 0px;
    text-wrap: wrap;
    letter-spacing: 1px;
}

.upgrade-card h3 {
    font-size: 0.4em;
}

.upgrade-card h6 {
    font-size: 0.4em;
    margin: 0;
}

.upgrade-card img {
    position: absolute;
    top: 70%;
    border-radius: 10px;
    width: 90px;
    height: 90px;
}

.upgrade-card ul {
    list-style: none;
    font-size: 0.4em;
    margin-left: 20px;
    margin-right: 20px;
    align-self: flex-start;
    position: relative;
    padding: 0;
    font-weight: 100;
}

.upgrade-card:hover {
    transform: scale(1.05);
    opacity: 1;
}

#skill-container {
    position: absolute;
    width: 18%;
    height: 10%;
    left: 50%;
    bottom: 1%;
    border-radius: 10px;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-around;
    align-items: center;
    animation: fade-in 0.5s ease-in forwards;
}

.skill-card {
    font-size: 35px;
    width: 30%;
    height: 95%;
    border-radius: 10px;
    border: 1px solid rgba(192, 192, 192, 0.8);
    color: rgb(255, 255, 255);
    background-color:rgba(0, 0, 0, 0.3);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.skill-card p {
    text-align: center;
    margin: 0;
}

.skill-card img {
    position: absolute;
    /* bottom: 0; */
    width: 90%;
    height: 90%;
}

#time-header {
    position: absolute;
    top: 1%;
    left: 50%;
    padding: 15px;
    background-color: rgba(85, 85, 85, 0.1);
    border-radius: 10px;
    transform: translateX(-50%);
    animation: fade-in 0.5s ease-in forwards;
}

#time-header h3 {
    position: relative;
    margin: 0;
    font-size: 80px;
    color: white;
    letter-spacing: 1px;
}

#upgrade-slots-container {
    top: 10%;
    width: 400px;
    left: 10px;
    position: absolute;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 50px 50px;
    gap: 5px;
    animation: fade-in 0.5s ease-in forwards;
}

.upgrade-slots {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1em;
    border: 1px solid RGBA(192,192,192,0.2);
    padding: 6px;
    border-radius: 5px;
}

#gold-header {
    position: absolute;
    right: 1%;
    top: 1%;
    animation: fade-in 0.5s ease-in forwards;
}

#gold-header h3 {
    margin: 0;
    font-size: 40px;
    color: #f7ba00;
    line-height: 1;
}

#kill-header {
    position: absolute;
    right: 25%;
    top: 1%;
    animation: fade-in 0.5s ease-in forwards;
}

#kill-header h3 {
    margin: 0;
    font-size: 40px;
    color: #ffffff;
    line-height: 1;
}

#death-screen {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    width: 70%;
    height: fit-content;
    text-align: center;
    color: white;
}

#death-screen button {
    padding: 30px;
    font-size: 30px;
    font-weight: 100;
    font-family: "Jersey 10";
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.4);
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    margin-top: 10px;
}

#death-screen button:hover {
    cursor: pointer;
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background-color: rgba(255, 255, 255, 0.08);    
}

#death-screen-header h1 {
    border: 1px solid rgba(255, 255, 255, 0.4);
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    margin-bottom: 10px;
    font-size: 60px;
    margin: 0;
    margin-bottom: 5px;
}

#death-screen-weapons-upgrades {
    display: flex;
    justify-content: center;
    width: 100%;

}

#death-screen-weapons-upgrades 
#death-screen-weapons, 
#death-screen-upgrades {
    width: 50%;
    padding: 50px;
    border: 1px solid rgba(255, 255, 255, 0.4);
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
}

#death-screen-weapons table {
    width: 100%;
}

#death-screen-weapons th {
    border: 1px solid rgba(255, 255, 255, 0.4);
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    padding: 16px;
    text-align: left;
    font-weight: 400;
    font-size: 24px;
    color: #f7ba00;
}

#death-screen-weapons td {
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 5px;
    padding: 16px;
    font-weight: 100;
    text-align: left;
    font-size: 20px;
}

#death-screen-upgrades {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr 1fr;
    gap: 10px;
    margin-left: 5px;
}

.death-screen-upgrade-slots {
    width: 100%;
    height: 150px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 20px;
    border: 1px solid RGBA(192,192,192,0.2);
    border-radius: 10px;
}

.death-screen-upgrade-slots h4, p{
    margin: 0;
    font-weight: 100;
}

#death-screen-const {
    border: 1px solid rgba(255, 255, 255, 0.4);
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    margin-top: 5px;
    padding-left: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
}

#death-screen-const ul {
    list-style: none;
    text-align: left;
    font-size: 24px;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 1fr;
    gap: 15px;
    padding-inline-start: 0;
}

#menu-options-header {
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translate(-50%, -50%);
}

#menu-options-header h1 {
    color: white;
    line-height: 0.6;
    font-size: 300px;
    margin-top: 0;
    text-decoration: underline;
}

#menu-options-header h4 {
    color:#f7ba00;
    font-size: 50px;
    text-align: right;
    margin: 0px;
    /* font-weight: 100; */
}

#menu-options {
    position: absolute;
    left: 50%;
    top: 65%;
    transform: translate(-50%, -50%);
    height: 40%;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#menu-options button {
    background-color: transparent;
    border: none;
}

#menu-options button h1:hover{
    color: rgba(255,255,255,0.4);
    border: none;
}

#menu-options button h1 {
    margin: 0;
    margin-left: 50px;
    margin-right: 50px;
    /* margin-top: 50px; */
    color: white;
    font-family: "Jersey 10";
    font-size: 125px;
}

#shop-container {
    width: 80%;
    height: auto;
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -40%);
    background-color: rgba(27, 27, 27, 0.9);
    box-shadow: 0 0 50px black;
    border-radius: 10px;
    overflow: hidden;
    border: 5px solid white;
    animation: fade-in 0.5s ease-in forwards;
}

#shop-container-header {
    background-color: rgb(0, 0, 0);
    position: relative;
    display: flex;
    justify-content: center; 
    /* align-items: center; */
}

#shop-container-header-gold {
    color: #f7ba00;
    font-size: 4em;
    margin: 0;
    position: absolute;
    left: 0;
}

#shop-container-header-title {
    color: white;
    font-size: 8em;
    margin: 0;
}

#shop-container-header button {
    right: 0;
    top: 0;
    position: absolute;
    height: 100%;
    width: 5%;
    font-size: 3vw;
    background-color: black;
    color: white;
    border: none;
    font-family: "Jersey 10";
}

#shop-container-header button:hover {
    background-color: white;
    color: black;
}

#shop-container-header button:active {
    background-color: black;
    color: white;
}

#shop-container-shelf {
    padding: 50px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 250px);
}

.shop-container-shelf-items {
    margin: 5%;
    /* opacity: 0.6; */
    color: white;
    border-radius: 5px;
    position: relative;
    border: 1px solid white;
}

.shop-container-shelf-items:hover {
    opacity: 1;
}

.shop-container-shelf-items h3 {
    text-align: center;
    font-size: 2em;
    margin: 0px;
    font-weight: 100;
}

.shop-container-shelf-items h5 {
    text-align: center;
    font-size: 1.4em;
    margin: 0px;
}

.shop-container-shelf-items h4 {
    font-size: 1.8em;
    color: #f7ba00;
    bottom: 0;
    left: 50%;
    margin: 0;
    transform: translateX(-50%);
    text-align: center;
    position: absolute;
            font-weight: 100;

}

.shop-container-shelf-items ul {
    list-style: none;
    padding-left: 40px;
    padding-right: 40px;
    margin: 20px;
}

.shop-container-shelf-items ul li {
    font-size: 1.3em;
}

#shop-container-buttons {
    height: 10%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    margin: 25px;
}

#shop-container-buttons button {
    background-color: rgb(0, 0, 0);
    font-size: 3em;
    color: white;
    font-family: "Jersey 10";
    cursor: pointer;
    border: 2px solid white;
    border-radius: 10px;
    width: 250px;
    height: 120px;
}

#shop-container-buttons button h4 {
    margin: 0px;
    font-weight: 100;
}

#shop-container-buttons button:hover {
    background-color: white;
    color: black;
}

#shop-container-buttons button:active {
    transform: scale(0.95);
}

#shop-container-buttons button p {
    font-size: 0.6em;
    color: #f7ba00;
    font-family: "Jersey 10";
}